body {
	font-family: sans-serif;
	margin: 8px;
	max-width: 600px;
}

h1 {
	font-family: 'IBM Plex Mono', monospace;
	margin-bottom: 0;
}

p {
	line-height: 1.5;
}

header {
	display: flex;
}

.tagline {
	font-style: italic;
	margin-top: 0;
}

.logo {
	color: #00b8a9;
	margin-right: 10px;
	width: 50px;
}

@media only screen and (min-width: 616px) {
	body {
		margin: 8px auto;
	}
}