body {
	font-family: sans-serif;
	margin: 8px;
	max-width: 600px;
}

h1 {
	font-family: 'IBM Plex Mono', monospace;
}

p {
	line-height: 1.5;
}

@media only screen and (min-width: 616px) {
	body {
		margin: 8px auto;
	}
}